<div class="row">
    <div class="col-md-4">
        <h2>Test user roles sample</h2>

        <p>To test user roles is need an authentication</p>
        <p>This sample shows a rules manipulation of an user</p>


        <p><a class="btn btn-default" href="#/users" role="button">Test»</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendar Test</h2>

        <p>This test shows how to select only a pre-validated dates</p>

        <p><a class="btn btn-default" href="#/dates" role="button">Test»</a></p>
    </div>
</div>